-i https://py.mdrn.pl:8443/simple

Django>=1.7,<1.8
lxml>=2.2
django-gravatar2
Pillow

-e git+https://github.com/rczajka/django-cas-provider.git@979cc8e80c887caa8a91a86dd2ed2971bfe2bff5#egg=django-cas-provider
