-i https://py.mdrn.pl:8443/simple

Django>=1.8,<1.9
lxml>=2.2
django-gravatar2
Pillow

-e git+https://github.com/rczajka/django-cas-provider.git@f3c49c09dc7b2a7ccee36b897b9056a9622e0c02#egg=django-cas-provider
