{% extends "account/base.html" %}
{% load i18n %}


{% block menu %}
  {% with menu="ssh" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}


{% block accounts-content %}
  <h1>{% trans "SSH keys" %}</h1>

  {% for key in object_list %}
<p>
  <code class="key">{{ key.key }}</code><br>
  {% trans "Added at" %} {{ key.created_at }}<br>
  <a href="{% url 'ssh_keys_delete' key.id %}">
    {% trans "Delete" %}
  </a>
</p>
<hr>
  {% endfor %}

  <a href="{% url 'ssh_keys_add' %}">
    {% trans "Add" %}
  </a>

{% endblock %}
