{% extends "account/base.html" %}
{% load i18n %}


{% block menu %}
  {% with menu="ssh" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}


{% block accounts-content %}
  <a href="{% url 'ssh_keys_add' %}" class="btn btn-primary float-end" >
    {% trans "Add" %}
  </a>

  <h1>{% trans "SSH keys" %}</h1>

  {% for key in object_list %}
    <div class="card mb-2">
      <div class="card-header">
        {{ key.comment }} ({{ key.algorithm}} {{ key.bit_length }})<br>
      </div>
      <div class="card-body">
        {% trans "Added" %}: {{ key.created_at }}<br>
        {% trans "Last seen" %}: {{ key.last_seen_at|default:"–" }}<br>

        <br>
        {{ key.md5_hash }}
        <code class="key">{{ key.key }}</code><br>
        <a href="{% url 'ssh_keys_delete' key.id %}" class="btn btn-danger">
          {% trans "Delete" %}
        </a>
      </div>
    </div>
  {% empty %}
    <div class="alert alert-warning">
      {% translate "You don't have any SSH keys." %}
    </div>
  {% endfor %}


{% endblock %}
