{% extends "ssh_keys/base.html" %}
{% load i18n %}


{% block accounts-content %}
<h1>{% trans "Confirm deleting an SSH key" %}</h1>

<p>{% trans "Are you sure you want to delete this key?" %}</p>

<form method="post">
  {% csrf_token %}
  <p>
    {{ object.comment }} ({{ object.algorithm}} {{ object.bit_length }})<br>
    {{ object.md5_hash }}
    <code class="key">{{ object.key }}</code><br>
    {% trans "Added" %}: {{ object.created_at }}<br>
    {% trans "Last seen" %}: {{ object.last_seen_at|default:"–" }}<br>
  </p>

  <button>
    {% trans "Delete" %}
  </button>
</form>
{% endblock %}
