.enclose {
    text-align: center;
    min-height: 500px;
    background: url(/media/static/brackets.png) no-repeat 50% 0;
    margin-top: 1em;
}

.enclosed {
    margin-top: 7em;
    display: inline-block;
    text-align: left;
    max-width: 300px;
    background-color: rgb(247, 247, 247);
    background-color: rgba(247, 247, 247, .5);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


form p {
    margin: 0;
}
form label, form input {
    display: block;
    width: 100%;
}
#login-form input {
    font-size: 1.75em;
    margin-bottom: .4em;
}




html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #F7F7F7;
    color: black;
    font-family: Lato;
}

#header-wrap {
    background: #191919;
    color: #989898;
}
header {
    max-width: 960px;
    margin: auto;
    padding: 1em 0;
}
header img {
    margin: 0 20px;
    vertical-align: middle;
}
footer, #content_push {
    height: 10em;
}
footer {

}

#content-wrap {
}

#content {
    max-width: 960px;
    margin: auto;
}
#content-inner {
}





#details {
	margin: 1em;
	float: left;
	max-width: 75%;

}

#details form table th {
	text-align: left;
}

#details form {
	margin-bottom: 2em;
}

#details .message {
    border: 2px solid green;
    font-size: 2em;
    padding: 20px;
}

#details h2 {
    margin-top: 40px;
}

.user_avatar {
	float: left;
	margin: 1em;
	max-width: 20%;
	text-align: center;
}

.user_avatar img {
    box-shadow: 0 0 .2em black;
}

#services-list {
    clear: both;
    border-top: 1px solid red;
}

#services-list a {
    
}

#services-list img {
	width: 90px;
    height: 50px;
	margin: 10px 10px 0 0;
}


img.small_logo {
	width: 250px;
}
