{% extends "base.html" %}
{% load gravatar i18n %}
{% load use_ssh from services %}

{% block content %}
  <aside class="menu">
    <img src="{% gravatar_url request.user.email 120 %}"
         alt="Gravatar"
         title="{% trans 'Change at Gravatar.com' %}">
    {% block menu %}
      <p><a {% if menu == 'profile' %}class="active"{% endif %} href="{% url 'accounts_profile' %}">{% trans "Your profile" %}</a></p>
      <p><a {% if menu == 'password' %}class="active"{% endif %} href="{% url 'password_change' %}">{% trans "Password change" %}</a></p>
      <!--p><a {% if menu == 'email' %}class="active"{% endif %} href="">{% trans "E-mail" %}</a></p-->
      {% use_ssh as use_ssh %}
      {% if use_ssh %}
        <p><a {% if menu == 'ssh' %}class="active"{% endif %} href="{% url 'ssh_keys' %}">{% trans "SSH keys" %}</a></p>
      {% endif %}
    {% endblock %}

    {% if request.user.is_staff %}
      <p><a href='/admin/'>{% trans "Administration" %}</a></p>
    {% endif %}
    <p><a href="{% url 'cas_logout' %}">{% trans "Logout" %}</a></p>
  </aside>

  <div id="details">
    {% if messages %}
      <section id="messages">
        {% for message in messages %}<p>{{ message }}</p>{% endfor %}
      </section>
    {% endif %}
      
    {% block accounts-content %}
    {% endblock %}
  </div>
{% endblock %}
