{% extends "base.html" %}
{% load gravatar i18n %}

{% block content %}
  <aside class="menu">
    <img src="{% gravatar_url request.user.email 120 %}"
         alt="Gravatar"
         title="{% trans 'Change at Gravatar.com' %}">
    {% block menu %}
      <p><a {% if menu == 'profile' %}class="active"{% endif %} href="{% url 'accounts_profile' %}">{% trans "Your profile" %}</a></p>
      <p><a {% if menu == 'password' %}class="active"{% endif %} href="{% url 'password_change' %}">{% trans "Password change" %}</a></p>
      <!--p><a {% if menu == 'email' %}class="active"{% endif %} href="">{% trans "E-mail" %}</a></p-->
      <!--p><a {% if menu == 'ssh' %}class="active"{% endif %} href="">{% trans "SSH keys" %}</a></p-->
    {% endblock %}
    <p><a href="{% url 'cas_logout' %}">{% trans "Logout" %}</a></p>
  </aside>

  <div id="details">
    {% if messages %}
      <section id="messages">
        {% for message in messages %}<p>{{ message }}</p>{% endfor %}
      </section>
    {% endif %}
      
    {% block accounts-content %}
    {% endblock %}
  </div>
{% endblock %}
