<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Logowanie{% endblock %} | Fundacja Nowoczesna Polska</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    <div id="header-wrap">
      <header>
        <a href="/">
          <img title="Fundacja Nowoczesna Polska"
               alt="Fundacja Nowoczesna Polska"
               src="{% static 'fnp_black.png' %}">
        </a>
      </header>
    </div>

    <div id="content-wrap">
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>
