.enclose {
    text-align: center;
    min-height: 500px;
    background: url(../brackets.png) no-repeat 50% 0;
    margin-top: 1em;
    background-size: auto 450px;
}

.enclosed {
    margin-top: 70px;
    display: inline-block;
    text-align: left;
    max-width: 300px;
    background-color: rgb(247, 247, 247);
    background-color: rgba(247, 247, 247, .5);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.errorlist {
    color: red;
    margin: 0;
    padding: 0;
    list-style: none;
}


form p {
    margin: 0;
}
form label, form input {
    display: block;
    width: 100%;
}
#login-form input {
    font-size: 1.75em;
    margin-bottom: .4em;
}




html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #F7F7F7;
    color: black;
    font-family: Lato;
}

#header-wrap {
    background: #191919;
    color: #989898;
}
header {
    max-width: 600px;
    margin: auto;
    padding: 1em 0;
}
header img {
    margin: 0 20px;
    vertical-align: middle;
}
footer, #content_push {
    height: 10em;
}

#content {
    max-width: 600px;
    margin: auto;
}


#details {
	margin: 1em;
	float: left;
	max-width: 75%;
}

#details form table th {
	text-align: left;
}

#details form {
	margin-bottom: 2em;
}

#details #messages {
    background: white;
    box-shadow: 0 0 10px black;
    font-size: 1.75em;
    padding: 20px;
    margin-bottom: 20px;
}
#details #messages p {
    margin: 0;
    color: green;
}

#details h2 {
    margin-top: 0;
}

.user_avatar {
	float: left;
	margin: 1em;
	max-width: 20%;
	text-align: center;
}

.user_avatar img {
    box-shadow: 0 0 .2em black;
}

#services-list {
    clear: both;
    border-top: 1px solid black;
}

#services-list h1 {
    margin-bottom: 0;
}

#services-list img {
	width: 90px;
    height: 50px;
	margin: 10px 10px 0 0;
}
