* {
    box-sizing: border-box;
}

.enclose {
    height: 450px;
    margin: 1em 0;
    background-size: auto 450px;
    display: flex;
    flex-direction: column;
}

.enclosed {
    max-width: 300px;
    margin: auto;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.errorlist {
    color: red;
    margin: 0;
    padding: 0;
    list-style: none;
}


label, input, button, textarea {
    display: block;
    width: 100%;
}

.enclosed input {
    font-size: 1.75em;
    margin-bottom: .4em;
    width: 100%;
}
.enclosed button {
    font-size: 1.75em;
    width: 100%;
    margin-bottom: 0;
}
.enclosed p {
    margin-bottom: 0;
}
h1 {
    font-size: 1.75em;
    margin: 0 0 16px;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F7F7F7;
    color: black;
    font-family: Lato;
}

#header-wrap {
    background: #191919;
    color: #989898;
}
header {
    max-width: 600px;
    margin: auto;
    padding: 1em 0;
}
header img {
    vertical-align: middle;
}
footer, #content_push {
    height: 10em;
}

#content {
    max-width: 600px;
    margin: auto;
}

#details {
    margin: 1em 0;
    padding: 0 2em;
}

#details form table th {
	text-align: left;
}

#details form {
	margin-bottom: 2em;
}

#details #messages {
    background: white;
    box-shadow: 0 0 10px black;
    font-size: 1.75em;
    padding: 20px;
    margin-bottom: 20px;
}
#details #messages p {
    margin: 0;
    color: green;
}

.menu {
    margin: 1em 0;
    text-align: center;
}
.menu .active {
    font-weight: bold;
    color: black;
}
@media screen and (min-width: 620px) {
    .menu {
        float: left;
        max-width: 20%;
    }

    #details {
        float: right;
        width: 80%;
    }
}

.menu img {
    box-shadow: 0 0 .2em black;
    margin-bottom: 1em;
}

code.key {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #666;
}


.service-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
a.service {
    width: 130px;
    height: 80px;
    background: white;
    box-shadow:  3px 3px 5px #aaa;
    padding: 10px;
    position: relative;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}
a.service:hover {
    text-decoration: none;
    background: orange;
}
.service-icon {
    max-width: 100%;
    max-height: 100%;
}
